// color
.text-main {
  color: $main;
}
.text-secondary {
  color: $secondary;
}
.text-secondary-2 {
  color: $secondary-2;
}

.text-gray-1 {
  color: $gray-1;
}

.bg-primary {
  background: $primary;
}

.bg-secondary {
  background: $secondary;
}

.fs-sm {
  font-size: 14px;
}








