// color
.text-main {
  color: $main;
}
.text-secondary {
  color: $secondary;
}
.text-secondary-2 {
  color: $secondary-2;
}
.text-secondary-3 {
  color: $secondary-3;
}
.text-secondary-4 {
  color: $secondary-4;
}

.text-gray-1 {
  color: $gray-1;
}

.text-dark-1 {
  color: $dark-1;
}

.bg-primary {
  background: $primary;
}

.bg-secondary {
  background: $secondary;
}

.fs-sm {
  font-size: 14px;
}

// margin

.mb-40 {
  margin-bottom: 40px;
}






