<div class="container">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img class="navbar__logo" src="../assets/images/viere_logo.svg" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <form class="d-flex me-lg-auto position-relative">
        <input class="w-100 navbar-input form-control rounded-pill" type="search" placeholder="搜尋文章">
        <a  href="#" class="navbar-input__icon position-absolute">
          <i class="bi bi-search fs-4"></i>
        </a>
      </form>
      <ul class="navbar-nav d-flex align-items-center">
        <li class="nav-item active">
          <a class="nav-link fs-6 fw-bold text-secondary-3" href="#">所有文章</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-6 fw-bold text-secondary-3" href="#">訂閱方案</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-6 fw-bold text-secondary-3" href="#">關於我們</a>
        </li>
        <button class="navbar__button btn btn-primary fs-6 text-light" type="button">登入 / 註冊</button>
      </ul>
    </div>
  </nav>
    
</div>