<section class="read-more-section">
  <h2 class="mb-40 fs-3 text-secondary-3">延伸閱讀</h2>
  <div class="read-more-card-container">
    <div class="read-more-card pb-4 d-flex flex-column flex-lg-row">
      <picture>
        <source srcset="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024-week6/read-1-sm.png" media="(max-width:372px)" class="w-100">
        <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024-week6/read-1.png" alt="read-1" class="w-100">
      </picture>
      <div class="read-more-caption ms-4 mt-3 mt-lg-0">
        <h5 class="fs-5 mb-2">週末說走就走露營記</h5>
        <p class="read-more-card__text text-gray-1 fs-6">遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜...</p>
        <p class="fs-5 text-primary text-end">
          <a href="#">Read More</a>
        </p>
      </div>
    </div>

    <div class="read-more-card pb-4 d-flex flex-column flex-lg-row">
      <picture>
        <source srcset="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024-week6/read-2-sm.png" media="(max-width:372px)">
        <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024-week6/read-2.png" alt="read-1" class="w-100">
      </picture>
      <div class="read-more-caption ms-4 mt-3 mt-lg-0">
        <h5 class="fs-5 mb-2">城市野營日記</h5>
        <p class="read-more-card__text text-gray-1 fs-6">終於!我實現了一個看似瘋狂的想法—在熟悉的城市裡野營一晚。說實話,一開始我也有點懷疑自己,畢竟眾目睽睽之下搭帳篷實在有點怪異。不過漸漸地,這股初時的侷促不...</p>
        <p class="fs-5 text-primary text-end">
          <a href="#">Read More</a>
        </p>
      </div>
    </div>

    <div class="read-more-card pb-4 d-flex flex-column flex-lg-row">
      <picture>
        <source srcset="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024-week6/read-3-sm.png" media="(max-width:372px)">
        <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024-week6/read-3.png" alt="read-1" class="w-100">
      </picture>
      <div class="read-more-caption ms-4 mt-3 mt-lg-0">
        <h5 class="fs-5 mb-2">和寵物去露營 - 大自然之旅的雙倍體驗</h5>
        <p class="read-more-card__text text-gray-1 fs-6">說實話,一開始我有點擔心帶著我的狗狗露營會不會太麻煩。畢竟要照顧牠的飲食起居,還得注意牠的安全。不過這次經驗讓我徹底改觀了!出發前,我特意為狗狗準備了適當...</p>
        <p class="fs-5 text-primary text-end">
          <a href="#">Read More</a>
        </p>
      </div>
    </div>
  </div>
</section>