.admin {
  &-container {
    padding: 0 32px;
  }
  &-header {
    height: 93px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-table {
    margin-bottom: 67px;

    &__row {
      border-bottom: 1px solid #CED4DA;
    }
  }
}


